<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPostServlet</servlet-name>
        <servlet-class>com.servlet.addPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addServlet</servlet-name>
        <servlet-class>com.servlet.addServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>com.servlet.updateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteservlet</servlet-name>
        <servlet-class>com.servlet.deleteservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.servlet.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.servlet.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_profile</servlet-name>
        <servlet-class>com.servlet.update_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMsg</servlet-name>
        <servlet-class>com.servlet.addMsg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMsg</servlet-name>
        <servlet-class>com.servlet.deleteMsg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stroreMsg</servlet-name>
        <servlet-class>com.servlet.stroreMsg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addImage</servlet-name>
        <servlet-class>com.servlet.addImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>image</servlet-name>
        <servlet-class>com.servlet.image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteImage</servlet-name>
        <servlet-class>com.servlet.deleteImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPostServlet</servlet-name>
        <url-pattern>/addPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addServlet</servlet-name>
        <url-pattern>/addServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteservlet</servlet-name>
        <url-pattern>/deleteservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_profile</servlet-name>
        <url-pattern>/update_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMsg</servlet-name>
        <url-pattern>/addMsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMsg</servlet-name>
        <url-pattern>/deleteMsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stroreMsg</servlet-name>
        <url-pattern>/stroreMsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addImage</servlet-name>
        <url-pattern>/addImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteImage</servlet-name>
        <url-pattern>/deleteImage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
